.headerclass {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background-color: #272727;
  /* margin-bottom: 50px; */
}
.head-logo-title-div {
  display: flex;
  margin-top: 3px;
}
.header-logo-div {
  margin-left: 37px;
}
.header-logo-img {
  height: 31px;
}
.header-title-div {
  margin-left: 8px;
  margin-top: -10px;
}
.header-title {
  color: #4f46e5;
  font-size: 22px;
  font-family: roboto;
}
.discriptionandbuttondiv {
  color: aliceblue;
}

@media (min-width: 769px) and (max-width: 1440px) {
  .mainbodydiv {
    background-size: cover;
    height: 100vh;
    padding-top: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://assets.ccbp.in/frontend/react-js/home-lg-bg.png");
  }
}

.mainbodydiv {
  background-size: cover;
  height: 100vh;
  padding-top: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://assets.ccbp.in/frontend/react-js/home-lg-bg.png");
}

@media (max-width: 420px) {
  .mainbodydiv {
    background-size: cover;
    height: 100vh;
    padding-top: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://assets.ccbp.in/frontend/react-js/home-sm-bg.png");
  }
}
.discriptionandbuttondiv {
  margin: 20px;
  margin-top: 30px;
  padding-top: 10px;
}
.headingdiv {
  margin: 20px;
  padding: 10px;
}
.discriptiondiv {
  margin: 25px;
}
.heading {
  /* margin: 18px; */
  margin-bottom: 5px;
  font-family: roboto;
}
.description {
  color: #f8fafc;
  margin-bottom: 20px;
  font-family: roboto;
  font-size: 25px;
}
.buttondiv {
  margin: 25px;
  padding-top: 20px;
}
.findjobsbutton {
  background-color: #6366f1;
  color: #f8fafc;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: roboto;
}
/* medimu to large */

@media (min-width: 769px) and (max-width: 1440px) {
  .logoutbutton {
    padding: 5px 18px;
    border-radius: 4px;
    background-color: #6366f1;
    color: #f8fafc;
    border: none;
    margin: 5px;
    font-family: roboto;
    content: "Logout";
  }
}
/* small */
/* @media (max-width: 420px) {
    .logoutbutton {
      background-image: url("D:\Projects\frontend\job-in\src\components\Home\images\logout-512.webp");
      height: 120px;
      width: 50px;
      background-size: cover;
    }
  } */

@media (max-width: 420px) {
  .logoutbutton {
    background-image: url("D:/Projects/frontend/job-in/src/components/Home/images/logout-512.webp");
    background-size: contain; /* Ensures the image fits within the element */
    background-repeat: no-repeat; /* Prevents repeating the image */
    background-position: center; /* Centers the image */
    height: 35px; /* Adjust as needed */
    width: 30px; /* Adjust as needed */
    color: transparent;
    margin-top: 5px;
  }
}

.logoutbtndiv {
  padding-right: 25px;
}
.homejobsh1 {
  margin: 12px;
  color: #f8fafc;
  font-family: roboto;
  cursor: pointer;
}
